@page "/DiceRoller"

<PageTitle>Dice Roller</PageTitle>

@using GenesysVTT.Data

<h1>Die Roller</h1>

<p>Current Pool: @currentPoolString</p>
<p>@result.ToString()</p>
<button class="btn btn-primary" @onclick="AddBoost">Add Boost</button>
<button class="btn btn-primary" @onclick="AddSetback">Add Setback</button>
<button class="btn btn-primary" @onclick="AddAbility">Add Ability</button>
<button class="btn btn-primary" @onclick="AddDifficulty">Add Difficulty</button>
<button class="btn btn-primary" @onclick="AddProficiency">Add Proficiency</button>
<button class="btn btn-primary" @onclick="AddChallenge">Add Challenge</button>
<br />
<button class="btn btn-primary" @onclick="RollDice">Roll Dice</button>

@code {
    private List<Dice> DicePool = new List<Dice>();
    private Result result = new Result();
    private string currentPoolString = "";
    private void RollDice()
    {
        result = new Result(DicePool);
    }

    private void AddBoost()
    {
        DicePool.Add(new Boost());
        UpdateDicePoolDisplay();
    }
    private void AddSetback()
    {
        DicePool.Add(new Setback());
        UpdateDicePoolDisplay();
    }
    private void AddAbility()
    {
        DicePool.Add(new Ability());
        UpdateDicePoolDisplay();
    }
    private void AddDifficulty()
    {
        DicePool.Add(new Difficulty());
        UpdateDicePoolDisplay();
    }
    private void AddProficiency()
    {
        DicePool.Add(new Proficiency());
        UpdateDicePoolDisplay();
    }
    private void AddChallenge()
    {
        DicePool.Add(new Challenge());
        UpdateDicePoolDisplay();
    }
    private void UpdateDicePoolDisplay()
    {
        currentPoolString = "";
        if (DicePool.Any(x => x.Type == DiceType.Boost)) { currentPoolString += $"{DicePool.Count(x=>x.Type==DiceType.Boost)} Boost  "; }
        if (DicePool.Any(x => x.Type == DiceType.Setback)) { currentPoolString += $"{DicePool.Count(x=>x.Type==DiceType.Setback)} Setback  "; }
        if (DicePool.Any(x => x.Type == DiceType.Ability)) { currentPoolString += $"{DicePool.Count(x=>x.Type==DiceType.Ability)} Ability  "; }
        if (DicePool.Any(x => x.Type == DiceType.Difficulty)) { currentPoolString += $"{DicePool.Count(x=>x.Type==DiceType.Difficulty)} Difficulty  "; }
        if (DicePool.Any(x => x.Type == DiceType.Proficiency)) { currentPoolString += $"{DicePool.Count(x=>x.Type==DiceType.Proficiency)} Proficiency  "; }
        if (DicePool.Any(x => x.Type == DiceType.Challenge)) { currentPoolString += $"{DicePool.Count(x=>x.Type==DiceType.Challenge)} Challenge  "; }
    }
}
